:root {
    background-color: azure;
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    
    margin: 3rem;
    font-size: 1.4rem;
}

.btn {
    text-decoration: none;
    text-shadow: 2px 2px 2px lightpink;
    color: red;
    font-weight: bold;
}

.btn:hover {
    text-shadow: 2px 2px 3px red;
    color: yellow;
    text-decoration: none;
}

.container {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    text-shadow: 5px 5px 5px lightpink;
    color: red;
    padding: 1rem;
}

ol {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem;
}

ol li {
    list-style: none!important;
    padding: .5rem;
}

.btn1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: left;
    text-align: center;
    align-items: center;
    width: 15rem;
    background-color: red;
    color: yellow;
    box-shadow: 5px 5px 5px lightpink;
    padding: 1rem;
    font-size: 1.7rem;
    margin: auto;
    border: .3rem dotted yellow;
}

.btn1:hover {
    background-color: yellow;
    box-shadow: 5px 5px 5px lightpink;
    border: .3rem dotted red;
    color: red;
}