:root {
    background-color: white;
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    
    margin: 3rem;
    font-size: 1.4rem;
}

.btn {
    text-decoration: none;
    text-shadow: 0px 5px 5px lightblue;
    color: royalblue;
    font-weight: bold;
}

.btn:hover {
    text-shadow: 0px 5px 5px royalblue;
    color: lightblue;
    text-decoration: none;
}

.container {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    text-shadow: 0px 5px 5px lightblue;
    color: royalblue;
    padding: 1rem;
}

.answer-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    width: 50rem;
    height: 4rem;
    font-size: 1.5rem;
    border: .3rem dotted lightblue;
    background-color: royalblue;
    box-shadow: 0px 5px 5px lightblue;
}

.answer-container:hover {
    background-color: lightblue;
    box-shadow: 0px 5px 5px royalblue;
    border: .3rem dotted royalblue;
    color: royalblue;
}

.answer-prefix {
    text-align: left;
    color: white;
    display: flex;
    padding: 0.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.answer-text {
    text-align: left;
    color: white;
    flex: auto;
    padding: 0.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}